@model ApiViewModel

@using Database.Data.Entities


<div class="card mb-3">
    <div class="card-header bg-light">
        <div class="row flex-between-center">
            <div class="col-sm-auto">
                <h5 class="mb-2 mb-sm-0"> ایجاد Api</h5>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <div class="mb-3">

            <form id="create" asp-controller="Api" asp-action="Create" method="post">
                <input asp-for="Id" type="hidden" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="d-flex align-items-center justify-content-start my-3">
                        <div id="bulk-select-replace-element">
                            <button class="btn btn-success"
                                    type="submit">
                                <span data-fa-transform="shrink-3 down-2"></span><span class="ms-1">ثبت</span>
                            </button>
                        </div>
                        <div id="bulk-select-replace-element">
                            <a class="btn btn-warning" href="@Url.Action("Index")">
                                <span data-fa-transform="shrink-3 down-2"></span><span class="ms-1">بازگشت</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="mb-3 row form-group">

                    <div class="col-md-4 form-group">
                        <label asp-for="Domains" class="form-label"></label>
                        <select asp-for="Domains" class="form-select" asp-items="@Html.GetEnumSelectList<Domains>()" aria-label="Default select example">
                            <option selected="">انتخاب کنید...</option>
                        </select>
                    </div>

                    <div class="col-md-4 form-group">
                        <label asp-for="BaseType" class="form-label"></label>
                        <select asp-for="BaseType" class="form-select" asp-items="@Html.GetEnumSelectList<BaseType>()" aria-label="Default select example" onchange="getBaseTypeFields($(this))">
                            <option selected="">انتخاب کنید...</option>
                        </select>
                    </div>

                    <div class="col-md-4 form-group">
                        <label asp-for="Controller" class="form-label"></label>
                        <select asp-for="Controller" class="form-select" asp-items="@(new SelectList(Model.Controllers,"Path","Name"))" aria-label="Default select example" onchange="getViews($(this))">
                            <option selected="">انتخاب کنید...</option>
                        </select>
                    </div>

                    <div class="col-md-4 form-group">
                        <label asp-for="View" class="form-label"></label>
                        <select asp-for="View" class="form-select" asp-items="@(new SelectList(Model.Views,"Path","Name"))" aria-label="Default select example">
                            <option selected="">انتخاب کنید...</option>
                        </select>
                    </div>

                    <div class="col-md-4 form-group">
                        <label asp-for="Method" class="form-label"></label>
                        <select asp-for="Method" class="form-select" asp-items="@(new SelectList(Model.Methods,"value","text"))" aria-label="Default select example">
                            <option selected="">انتخاب کنید...</option>
                        </select>
                    </div>

                    <div class="col-md-4 form-group">
                        <label asp-for="Type" class="form-label"></label>
                        <select asp-for="Type" class="form-select" asp-items="@Html.GetEnumSelectList<ApiType>()" aria-label="Default select example">
                            <option selected="">انتخاب کنید...</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="Name" class="form-label"></label>
                        <div>
                            <input asp-for="Name" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="Url" class="form-label"></label>
                        <div>
                            <input asp-for="Url" class="form-control" />
                        </div>
                    </div>




                </div>
            </form>

            <div id="fields">

            </div>

        </div>

    </div>
</div>

<script>

    function getViews(e)
    {
        var path = e.val();

        if (path.length>0) {
            $.ajax({
                url: "@Url.Action("GetViews")",
                data: { path:path},
                success: function (data) {
                    $("#View").html('')
                    var s = '<option value="-1">انتخاب کنید...</option>';
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i])
                        s += '<option value="' + data[i].path + '">' + data[i].name  + '</option>';
                    }
                    $("#View").html(s);
                }
            });

             $.ajax({
                url: "@Url.Action("GetControllerMethods")",
                data: { path:path},
                success: function (data) {
                    $("#Method").html('')
                    var s = '<option value="-1">انتخاب کنید...</option>';
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i])
                        s += '<option value="' + data[i].value + '">' + data[i].text  + '</option>';
                    }
                    $("#Method").html(s);
                }
            });

        }

    }

    function getBaseTypeFields(e)
    {
        $.ajax({
            url: "@Url.Action("GetBaseTypeFields")",
            data: { baseType: e.val() },
            success: function (data) {
                $("#fields").html(data);
            }
        });

    }


</script>